.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1000px; /* Set the width of the container */
    margin: 0 auto; /* Center the container */
    background-color: transparent; /* Optional: Add a background color with transparency */
    padding: 20px; /* Optional: Add some padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.categorie {
    text-align: center;
    font-size: 200%;
    align-items: center;
    justify-content: center;
}

mark {
    /*background-color: white;*/
    color: black;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
}

.ricette-container {
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo quando lo spazio finisce */
    gap: 10px; /* Spazio tra le immagini */
    justify-content: flex-start;
    padding: 0;
}

.ricette-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 200px; /* Stessa larghezza per tutte */
}

.ricette-container img {
    width: 150px;
    height: auto;
    display: block;
    border-radius: 10px; /* Per un look più carino */
}

.ricette-container p {
    /*background-color: white;*/
    color: black;
    border-radius: 4px;
    text-decoration: none;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
}


.ricette-container button {
    background: none;
    border: none;
    padding: 0; /* margine interno */
    cursor: pointer; /* Cambia il cursore in manina */
}

.back-home {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ff6600;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.back-home:hover {
    background-color: #cc5500;
}

.categorie-disabled{
    /*pointer-events: none;*/
    opacity: 0.5;
}

