/* Imposta lo sfondo fisso */
body {
    background-image: url('../italian-cuisine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* contenitore social media e barra ricerca */
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
}

/* Posizionamento delle icone social media */
.container1 {
    display: flex;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 16px;
}

.social-media {
    display: flex;
    gap: 10px;
}

.social-media i {
    font-size: 30px;
    color: white;
}

/* contenitore barra di ricerca e pulsanti relativi*/
.search-container {
    display: flex;
    align-items: center;
    gap: 14px;
}

#search-input {
    padding: 8px;
    font-size: 8px;
    width: 600px;
}

#search-button {
    padding: 8px 18px;
    font-size: 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    border: none;
    margin-left: 10px;
}

.loginButton {
    padding: 8px 18px;
    font-size: 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* CONTAINER PRINCIPALE */
.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 20px;
    max-width: 900px;
    background: transparent;
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Contenitore superiore: Logo a sinistra, pulsanti a destra */
.container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

/* Logo */
.logo {
    width: 250px;
    height: auto;
    opacity: 0.587;
    border-radius: 280px;
}

/* Pulsanti */
.btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
}

.btn {
    font-size: 16px;
    background-color: rgba(10, 13, 236, 0.4);
    width: 140px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(180, 109, 43, 0.9);
    transform: scale(1.05);
}

/* SECONDO CONTAINER */
.container-second {
    width: 100%;
    min-height: 200px;
    background: transparent;
    margin-top: 40px;
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}
