{% extends "dashboard/admin_dashboard.html" %}
{% block content %}

<form id="categoria-form" action="/aggiungi_categoria" method="POST">
    <div class="row">
        <div class="col">
            <label for="nome_categoria" class="form-label">Nuova Categoria</label>        
            <input type="text" class="form-control" name="nome_categoria" required>                       
        </div>        
        
        {% if alert %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ alert }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}       

        {% if errore %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ errore }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <button type="submit">Crea Categoria</button>
    </div>
</form>     
{% endblock %}