html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color:lightblue;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
footer{
    display: flex;    
    align-items: center;
    background-color: #333;
    color: white;    
    position: fixed;
    bottom: 0px;  
    gap: 80px;
    min-width: -webkit-fill-available;
}
.menu-toggle {
    cursor: pointer;
    font-size: 30px;
    z-index: 1000;
    position: relative;
}
nav {
    position: absolute;   
    left: 0;
    top: 80px;    
    background-color: white;
    border: 1px solid #ccc;
    display: none; /* menu nascosto di default */
    color: black;    
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;    
}
nav ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;    
}
nav ul li:hover {
    background-color: orange;    
}
main {
    margin-top: 20px;
}
.status-icon {
    color: green;  /* Verde per utente loggato */
    font-size: 20px;
    margin-right: 5px;
}
input {
    width: auto;
} 
.row {
    margin-bottom: 35px;
}
button {    
    bottom: 20px;
    right: 20px;
    background-color: #ff6600;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;    
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);   
    width: 100%;
    text-align: center;    
}
button:hover {
    background-color: #cc5500;
}
.container-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Evita overflow */
    padding-bottom: 80px; /* Distanza dal footer */
    background-color: lightblue;
}

main {
    flex: 1;
    max-width: 1200px; /* Imposta una larghezza massima */
    margin: auto;
    padding: 20px;
}

footer {
    width: 100%;
    position: relative; /* Evita che copra il contenuto */
    text-align: center;
}
/* questa aggiunta manuale serve perche Quill non eredita gli stili di Bootstrap */
#editorDescrizione, #editorIngredienti, #editorSteps {
    min-height: 150px; /* Imposta un'altezza minima per l'editor */
    border: 1px solid #ced4da; /* Aggiunge un bordo simile ai campi di input */
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}


