body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    display: flex;
    justify-content: stretch;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
.menu-toggle {
    cursor: pointer;
    font-size: 24px;
    z-index: 1000;
    position: relative;
}
nav {
    position: absolute;
    /* top: 80px; */
    /* right: 20px; */
    left: 0;
    top: 110px;
    /* background-color: black; */
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    color: black;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
nav ul li:hover {
    background-color: orange;
}
.hidden {
    display: none;
}
main {
    margin-top: 20px;
}
.status-icon {
    color: green;  /* Verde per utente loggato */
    font-size: 20px;
    margin-right: 5px;
}