<!--categoria fa la pagina di ogni tasto categoria con foto di sfondo personalizzata-->

<!DOCTYPE html>
<html lang="it">
<head>
    <title>Ricette - {{ categoria }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/categoria_style_responsive.css">
    <!-- il background lo mettiamo qui in questo caso perche css e'solo statico e non analizza jinja -->
    <style>
        .background {
            background-image: url("{{ url_for('static', filename='sfondi/' + sfondo_finale) }}");
        }
    </style>
</head>


<!-- con jinja creiamo il ciclo per iterare tutte le ricette inserite e mostrarle con la loro immagine personale  -->
<body>
<div class="background">
    <div class="container">
        <div class="categorie">
            <mark>Ricette {{ categoria }}</mark>
        </div>
        <br><br><br>

        <div class="ricette-container">

            {% for ricetta in elenco_ricette %}

            {% if loop.index <= 5 or current_user.is_authenticated %}
            <a href="{{ url_for('ricette_routes.dettaglio_ricetta', categoria=categoria, nome_ricetta=ricetta.nome_ricetta) }}">
                <button>
                    {% if ricetta.immagine %}
                    <img src="{{ url_for('static', filename=ricetta.immagine[7:] )}}"
                         alt="Immagine della ricetta {{ ricetta.nome_ricetta }}">
                    {% else %}
                    Immagine non Disponibile
                    {% endif %}
                </button>
                <p>{{ricetta.nome_ricetta}}</p>
            </a>

            {% else %}
            <div class="categorie-disabled">

                <a href="{{ url_for('auth_routes.login') }}">
                    <button>
                        {% if ricetta.immagine %}
                        <img src="{{ url_for('static', filename=ricetta.immagine[7:] )}}"
                             alt="{{ ricetta.nome_ricetta }}">
                        {% else %}
                        Immagine non Disponibile
                        {% endif %}
                    </button>
                    <p>{{ricetta.nome_ricetta}}</p>
                </a>
            </div>
            {% endif %}

            {% endfor %}
        </div>

        <a class="back-home" href="/">Home</a>

    </div>
</div>
</body>
</html>



