<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dettaglio Ricetta: {{ ricetta.nome_ricetta }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- collegamento a CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dettaglio_ricetta_style.css') }}">
</head>
<body>

<div class="container-main">
    <h1 style="text-align: start; margin-left: 10px">
        {{ricetta.nome_ricetta|capitalize}}
    </h1>
    <!-- Sezione superiore -->
    <div class="container-top">

        <!-- gestione immagine parte sinistra -->
        <div class="top-section-left">
            {% if ricetta.immagine %}
            <img src="{{ ricetta.immagine }}" alt="Immagine Ricetta">
            {% else %}
            <p alt="Nessuna immagine disponibile">Immagine non disponibile</p>
            {% endif %}
        </div>

        <!-- gestione dettagli parte destra -->
        <div class="top-section-right">
            <ul class="lista-dettagli-ricetta">
                <li><mark>{{ ricetta.kcal }} kcal</mark>calorie per porzione</li>
                <li>Autore: <strong>{{ ricetta.autore }}</strong></li>
                <li>Cucina: <strong>{{ ricetta.cousine_type }}</strong></li>
                <li>Difficolta: <strong>{{ ricetta.difficulty_level }}</strong></li>
                <li>Preparazione: <strong>{{ ricetta.preparation_time }} min</strong></li>
                <li>Tempo Cottura: <strong>{{ ricetta.cooking_time }} min</strong></li>
                <li>Tempo Totale: <strong>{{ ricetta.total_time }}</strong></li>
                <li>Prezzo: <strong>{{ ricetta.prezzo }}</strong> <strong>{{ ricetta.valuta }}</strong></li>
            </ul>
        </div>
    </div>

    <!-- sezione ingredienti   -->
    <div class="ingredienti">
        <p class="title-ingredienti">
            <strong>Ingredienti</strong>
        </p>
        <p class="testo-ingredienti">{{ ricetta.ingredienti | safe }}</p>
    </div>

    <!-- Sezione descrizione passo passo -->
    <div class="next-section">
        <h2>Procedimento</h2>

        <div class="step">
            <h3>Step</h3>
            <p class="testo-steps">{{ ricetta.steps | safe }}</p>
        </div>

    </div>
    <a href="{{ url_for('ricette_routes.categoria', categoria=categoria) }}" class="back-home">&#8617</a>
</div>
</body>

</html>
