<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dettaglio Ricetta</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dettaglio_ricetta_style.css') }}">

</head>
<body>
    <!-- Sezione superiore -->
    <div class="container-top">
        <div class="top-section-left">
            <img src="{{ url_for('static', filename=image) }}" alt="Immagine Ricetta">
        </div>
        <div class="top-section-right">
            <ul>
                <li>Ricetta: </li>
                <li>Strumenti: </li>
                <li>Ingredienti: </li>
                <li>Kcal: </li>
                <li>Tempo di preparazione: 1h</li>
                <li>Difficoltà: Media</li>
            </ul>
        </div>
    </div>

    <table>

        <tr>
            <th><h1 style="color: #ff6600;">Ingredienti</h1></th>
            <th>Recipes</th>
            <th>Tools</th>
            <th>Ingredients</th>
            <th>Steps</th>
            <th>Time</th>
        </tr>
    </table>

    <!-- Sezione descrizione passo passo -->
    <div class="next-section">
        <h2>Procedimento</h2>

        <div class="step">
            <h3>Step 1</h3>
            <p>Preparare il ragù cuocendo carne e pomodoro per almeno 30 minuti.</p>
        </div>

        <div class="step">
            <h3>Step 2</h3>
            <p>Preparare la besciamella mescolando burro, farina e latte fino a ottenere una crema.</p>
        </div>

        <div class="step">
            <h3>Step 3</h3>
            <p>Alternare strati di pasta, ragù e besciamella in una teglia.</p>
        </div>

        <div class="step">
            <h3>Step 4</h3>
            <p>Cuocere in forno preriscaldato a 180°C per circa 30 minuti.</p>
        </div>

        <div class="step">
            <h3>Step 5</h3>
            <p>Lasciare riposare per 10 minuti prima di servire.</p>
        </div>
    </div>
    <a href="{{ url_for('ricette_routes.categoria', categoria='pasta') }}" class="back-home">Torna al menu pricipale</a>
</body>
</html>
