<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elenco Ricette Disponibili</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elenco_ricette_utente_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<!-- collegamento a header_utente -->
{% include "header_utente.html" %}

<div class="container-main">
    {% for ricetta in elenco_ricette %}
    <div class="container-top">

        <div class="top-section-left">
            {% if ricetta.immagine %}
            <img src="{{ url_for('static', filename=ricetta.immagine[7:]) }}" alt="Immagine Ricetta">
            {% else %}
            <p alt="Nessuna immagine disponibile">Immagine non disponibile</p>
            {% endif %}
        </div>

        <div class="top-section-right">
            <ul class="dettagli-ricetta">
                <li>Cucina: <strong>{{ ricetta.cousine_type }}</strong></li>
                <li>Nome: <strong>{{ ricetta.nome_ricetta }}</strong></li>
                <li>Calorie: <strong>{{ ricetta.kcal }}</strong></li>
                <li>Difficolta: <strong>{{ ricetta.difficulty_level }}</strong></li>
                <li>Tempo: <strong>{{ ricetta.total_time }}</strong></li>
                <li>Prezzo: <strong>{{ ricetta.prezzo }}</strong> <strong>{{ ricetta.valuta }}</strong></li>
            </ul>
        </div>

    </div>
    {% endfor %}
    <a class="back-home" href="/">Torna alla pagina principale</a>
</div>
</body>
</html>