<!-- header collegato a  struttura.html.css -->

<!-- container principale -->
<div class="container-header">
    <!-- container generale  -->
    <div class="container1">

        <!-- creiamo il menu a tre barre chiamato toggle  -->
        <div class="menu-toggle">&#9776;</div>
        <!-- interno del menu a tendina -->
        <nav id="menu" class="hidden">
            <ul>
                <div class="title-menu">
                    {% if current_user.is_authenticated and current_user.username == "admin" %}
                    <li><a href="{{ url_for('dashboard_routes.admin_dashboard') }}" style="color: red">Admin
                        Dashboard</a></li>
                    {% endif %}
                    <li><a href="/">Torna alla Home</a></li>
                    <li><a href="{{ url_for('ricette_routes.elenco_ricette') }}">
                        <button class="btn">Elenco Ricette</button>
                    </a></li>
                    <li><a href="{{ url_for('ricette_routes.trova_calorie') }}">Cerca per calorie</a></li>
                    <li class="no-style"><strong>Categorie</strong></li>
                </div>
                <div class="voci-menu">
                    <li><a href="/categoria/entree" class="no-decoration">Entree</a></li>
                    <li><a href="/categoria/primi" class="no-decoration">Primi Piatti</a></li>
                    <li><a href="/categoria/pasta" class="no-decoration">Pasta</a></li>
                    <li><a href="/categoria/risotti" class="no-decoration">Risotti</a></li>
                    <li><a href="/categoria/secondi" class="no-decoration">Secondi Piatti</a></li>
                    <li><a href="/categoria/streetFood" class="no-decoration">Street Food</a></li>
                    <li><a href="/categoria/dolci" class="no-decoration">Dolci</a></li>
                    <li><a href="/categoria/fusion" class="no-decoration">Fusion</a></li>
                    <li><a href="/categoria/insalata" class="no-decoration">Contorni</a></li>
                </div>
            </ul>
        </nav>
        <!-- collegamento allo script hidden/show del menu a barre -->
        <script type="text/javascript"
                src="{{ url_for('static', filename='dashboard/js/admin_dsh_script.js') }}"></script>

         <!-- definizione delle icone insta e fb -->
        <div class="social-media">
            <a href="https://www.instagram.com/sepoatedemincat" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/eugenio.travisi.5" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
<!--            <a href="https://www.youtube.com/channel/tuo-id-canale" target="_blank">-->
<!--                <i class="fab fa-youtube"></i>-->
<!--            </a>-->
        </div>


        <!-- definizione della barra di ricerca e del pulsante cerca-->
        <div class="search-container">
            <form action="{{ url_for('ricette_routes.trova_ricetta') }}">
                <label for="search-input" class="sr-only"></label>
                <input type="text" id="search-input" name="nome_ricetta" placeholder="Cerca" aria-label="Cerca ricetta"
                       required/>
<!--                <button id="search-button" type="submit">Search</button>-->
            </form>
        </div>

        <div>
            <!-- icona omino come login/logout -->
            {% if current_user.is_authenticated %}
            <a style="color: limegreen; font-size: larger;" href="{{ url_for('auth_routes.logout') }}">
                <i class="fa fa-user-circle status-icon"></i> Logout
            </a>
            {% else %}
            <a style="color: white; font-size: larger;" href="{{ url_for('auth_routes.login') }}">
                <i class="fa fa-user-circle status-icon"></i> Login
            </a>
            {% endif %}
        </div>

    </div>
</div>


