<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calorie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kcal_searching_style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<!-- gestione delle flag per errori inserimento calorie -->
{% if alert %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ alert }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container-header">
    <div class="container1">

        <!-- creiamo il menu a tre barre chiamato toggle  -->
        <div class="menu-toggle">&#9776;</div>
        <!-- interno del menu a tendina -->
        <nav id="menu" class="hidden">
            <ul>
                <li><a class="no-decoration" href="/">Torna alla Home</a></li>
                <li><a href="{{ url_for('ricette_routes.elenco_ricette') }}">
                    <button class="btn">Elenco Ricette</button>
                </a></li>
                <li><a href="{{ url_for('ricette_routes.trova_calorie') }}" class="no-decoration">Cerca per
                    calorie</a></li>
                <li><strong>Categorie</strong></li>
                <li><a href="/categoria/entree" class="no-decoration">Entree</a></li>
                <li><a href="/categoria/primi" class="no-decoration">Primi Piatti</a></li>
                <li><a href="/categoria/pasta" class="no-decoration">Pasta</a></li>
                <li><a href="/categoria/risotti" class="no-decoration">Risotti</a></li>
                <li><a href="/categoria/secondi" class="no-decoration">Secondi Piatti</a></li>
                <li><a href="/categoria/streetFood" class="no-decoration">Street Food</a></li>
                <li><a href="/categoria/dolci" class="no-decoration">Dolci</a></li>
                <li><a href="/categoria/fusion" class="no-decoration">Fusion</a></li>
                <li><a href="/categoria/insalata" class="no-decoration">Contorni</a></li>
                <li><a href="/categoria/test1" class="no-decoration">Vuoto</a></li>
                <li><a href="/categoria/test2" class="no-decoration">Vuoto</a></li>
            </ul>
        </nav>
        <!-- collegamento allo script hidden/show del menu a barre -->
        <script type="text/javascript"
                src="{{ url_for('static', filename='dashboard/js/admin_dsh_script.js') }}"></script>

        <!-- questo form fa capo diretto ad endpoint  -->
        <div class="search-container">
            <div class="search-container">
                <form action="{{ url_for('ricette_routes.trova_calorie') }}" method="GET">
                    <label for="search-input" class="sr-only"></label>
                    <input type="text" id="search-input" name="kcal" placeholder="Calorie" aria-label="Cerca ricetta"
                           required/>
                    <button id="search-button" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Qui compariranno i risultati -->
    <div id="results"></div>
</div>

{% for ricetta in elenco_calorie %}
<section class="layout">
    <div class="container-top">

        {% if loop.index <= 3 or current_user.is_authenticated %}

        <div class="top-section-left">
            {% if ricetta.immagine %}
            <a style="border: none; outline: none; box-shadow: none; background: transparent; padding: 0;"
               class="btn btn-primary"
               href="{{ url_for('ricette_routes.dettaglio_ricetta', categoria=ricetta.categoria, nome_ricetta=ricetta.nome_ricetta) }}"
               role="button">
                <img src="{{ url_for('static', filename=ricetta.immagine[7:]) }}" alt="Immagine Ricetta">
            </a>
            {% else %}
            <p>Immagine non disponibile</p>
            {% endif %}
        </div>

        <div class="top-section-right">
            <ul class="dettagli-ricetta">
                <li>Calorie: <h3>{{ ricetta.kcal }}</h3></li>
                <li>Cucina: <strong>{{ ricetta.cousine_type }}</strong></li>
                <li>Nome: <strong>{{ ricetta.nome_ricetta }}</strong></li>
                <li>Difficolta: <strong>{{ ricetta.difficulty_level }}</strong></li>
                <li>Tempo: <strong>{{ ricetta.total_time }}</strong></li>
                <li>Prezzo: <strong>{{ ricetta.prezzo }}</strong> <strong>{{ ricetta.valuta }}</strong></li>
            </ul>
        </div>

        {% else %}
        <div class="kcal-searching-disabled">
            <div class="top-section-left">
                {% if ricetta.immagine %}
                <a style="border: none; outline: none; box-shadow: none; background: transparent; padding: 0;"
                   class="btn btn-primary"
                   href="{{ url_for('auth_routes.login') }}" role="button">
                    <img src="{{ url_for('static', filename=ricetta.immagine[7:]) }}" alt="Immagine Ricetta">
                </a>
                {% else %}
                <p>Immagine non disponibile</p>
                {% endif %}
            </div>

            <div class="top-section-right">
                <ul class="dettagli-ricetta">
                    <li>Calorie: <h3>{{ ricetta.kcal }}</h3></li>
                    <li>Cucina: <strong>{{ ricetta.cousine_type }}</strong></li>
                    <li>Nome: <strong>{{ ricetta.nome_ricetta }}</strong></li>
                    <li>Difficolta: <strong>{{ ricetta.difficulty_level }}</strong></li>
                    <li>Tempo: <strong>{{ ricetta.total_time }}</strong></li>
                    <li>Prezzo: <strong>{{ ricetta.prezzo }}</strong> <strong>{{ ricetta.valuta }}</strong></li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endfor %}


<!-- Includi Popper.js e il JavaScript di Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>