<!-- inizializziamo la pagina html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- titolo della pagina html -->
    <title>Se Poate De Mancat</title>
    <!-- questa che segue e'una libreria CDN che serve per aggiungere icone senza scaricare niente localmente
     nel nostro caso icone di instagram e facebook -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta charset="UTF-8"><!-- codifica i caratteri come accenti o caratteri speciali -->
    <meta http-equiv="refresh" content="30"><!-- refresh auto pagina 30 secondi -->
    <meta name="keywords" content="kitchen, food, cake, sweety"> <!-- caratteri di ricerca -->
    <meta name="description" content="here we made, learn and taste good and healthy food"> <!-- cosa fa il sito -->
    <!-- dovrebbe adattare le immagini per diverse grandezze schermo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/struttura_style.css">  <!-- collegamento con struttura_style -->
    <!-- collegamento con gli script funzionali  -->
    <script type="text/javascript" src="static/js/struttura_script.js"></script>
</head>

<body>

<!-- collegamento a header_utente -->
{% include "header_utente.html" %}


<!-- definizione dei pulsanti e del logo della pagina principale -->
<div class="container-main">
    <div class="container-top">
        <div class="top-section-left">
            <img class="logo" src="static/logo_adesivo_SePoateDeMancat.jpg" alt="logo_Se_Poate_De_Mancat">
        </div>
        <div class="top-section-right">
            <div class="btn-container">
                <a href="{{ url_for('ricette_routes.elenco_ricette') }}">
                    <button class="btn">Elenco Ricette</button>
                </a>
                <button class="btn" onclick="location.href='/categoria/entree'">Entree</button>
                <button class="btn" onclick="location.href='/categoria/primi'">Primi Piatti</button>
                <button class="btn" onclick="location.href='/categoria/pasta'">Paste</button>
                <button class="btn" onclick="location.href='/categoria/risotti'">Risotti</button>
                <button class="btn" onclick="location.href='/categoria/secondi'">Secondi Piatti</button>
                <button class="btn" onclick="location.href='/categoria/streetFood'">Street Food</button>
                <button class="btn" onclick="location.href='/categoria/pizza'">Pizza</button>
                <button class="btn" onclick="location.href='/categoria/dolci'">Dolci</button>
                <button class="btn" id="runButton0">Esegui Script</button>
                <button class="btn" id="runButton">Aggiungi la tua ricetta</button>
                <button class="btn" id="runButton3">Apporto Calorico</button>
            </div>
        </div>
    </div>

    <!-- definizione della sezione centrale della pagina -->
    <div class="container-second"></div>
</div>
</body>
</html>



