{% extends "font_login.html" %}

{% block title %}Login{% endblock %}

{% block form_title %}Login Here{% endblock %}

{% block form_content %}
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username" id="username">

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" id="password">

    <p>Non hai un account? <a href="{{ url_for('register') }}" style="color: blue;">Registrati qui</a></p><br><br>
    <a href="/">Torna alla pagina principale</a>

    <button>Log In</button>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
{% endblock %}


