{% extends "auth/font_login.html" %}

{% block title %}Login{% endblock %}

{% block form_title %}Login{% endblock %}

{% block form_content %}
<form id="login-form" method="POST">
    {{ form.hidden_tag() }}

    <label for="username">Username</label>
    {{ form.username(class="form-control", placeholder="Username") }}

    <div id="username-error" class="text-danger"></div>

    <label for="password">Password</label>
    {{ form.password(class="form-control", placeholder="Password") }}

    <!-- <div id="password-error" class="text-danger"></div> -->
    {% if form.password.errors %}
        <p class="text-danger">{{ form.password.errors[0] }}</p>
    {% endif %}

    <p>Non hai un account? <a href="{{ url_for('auth_routes.register') }}" style="color: blue;">Registrati</a></p><br><br>
    <a href="/">Torna alla pagina principale</a>

    {{ form.submit(class="btn btn-primary") }}

    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>
{% endblock %}