<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard SPDM</title>

    <!-- collegamento per icona omino per log/in/out -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- collegamento Bootstrap CSS pulsante -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- collegamento a Bootstrap icone -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- collegamento Bootstrap JS pulsante   -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- collegamento con stylesheet di Quill per editor di testo  -->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css"/>-->

    <!-- collegamento con script di Quill per editor di testo  -->
    <!--    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>-->

    <!-- collegamento a tinyMCE editor-->
    <script src="https://cdn.tiny.cloud/1/2rvkgbdky1qxpdy77a5bxig1j28repke1286tea30jufz833/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- collegamento al CSS personalizzato per la dashboard -->
    <link rel="stylesheet" href="/static/dashboard/css/admin_dsh_style.css">


</head>
<body>
{% include "dashboard/header.html" %}
<div class="container-main">
    <main>
        {% block content %}{% endblock %}
    </main>
</div>
{% include "dashboard/footer.html" %}
</body>
</html>
