<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard SPDM</title>
    <link rel="stylesheet" href="/static/dashboard/css/admin_dsh_style.css">
    <!-- collegamento per icona omino per log/in/out -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    {% include "dashboard/header.html" %}
    <main id="content">
        <p>Seleziona un'opzione dal menu.</p>
        {% block content %}{% endblock %}
    </main>
    {% include "dashboard/footer.html" %}        
</body>
</html>



