{% extends "dashboard/admin_dashboard.html" %}
{% block content %}

<!-- gestione delle flag per successo / fallimento di registrazione nuova ricetta -->
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ success }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% elif errore %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ errore }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<form id="ricetta-form" action="/create_recipe" method="POST" enctype="multipart/form-data">

    <div class="row g-3 mb-4">

        <div class="col-md-2">
            <label for="categoria" class="form-label mb-2">Categoria</label>
            <select class="form-select form-select" name="categoria" id="categoria" required>
                <option selected>Seleziona categoria</option>
                {% for category in elenco_categorie %}
                <option value="{{ category }}"
                        {% if category== categoria %}selected{% endif %}>{{ category }}
                </option>
                {% endfor %}
            </select>
            {% if errore %}
            <div class="text-danger mt-4">{{ errore }}</div>
            {% endif %}
        </div>

        <div class="col-md-2">
            <label for="titolo" class="form-label mb-2">Titolo</label>
            <input type="text" id="titolo" name="titolo" placeholder="titolo ricetta" class="form-control"
                   value="{{ titolo or '' }}" required>
        </div>

        <div class="col-md-2">
            <label for="nome_ricetta" class="form-label mb-2">Nome Ricetta</label>
            <input type="text" id="nome_ricetta" name="nome_ricetta" required placeholder="Es. Carbonara"
                   class="form-control"
                   value="{{ nome_ricetta or '' }}">
        </div>

        <div class="col-md-2">
            <label for="immagine" class="form-label mb-2">Immagine</label>
            <input type="file" id="immagine" name="immagine" accept="image/*" class="form-control">
        </div>

        <div class="col-md-2">
            <label for="difficulty_level" class="form-label mb-2">Difficolta</label>
            <select id="difficulty_level" class="form-select form-select mb-2" name="difficulty_level" required>
                <option value="" {% if not difficulty_level %}selected{% endif %}>Difficolta</option>
                <option value="Bassa" {% if difficulty_level==
                'Bassa' %}selected{% endif %}>Bassa</option>
                <option value="Media" {% if difficulty_level==
                'Media' %}selected{% endif %}>Media</option>
                <option value="Difficile" {% if difficulty_level==
                'Difficile' %}selected{% endif %}>Difficile</option>
            </select>
        </div>

        <div class="col-md-2">
            <label for="autore" class="form-label mb-2">Autore</label>
            <input type="text" id="autore" name="autore" placeholder="Es.Chef Ramsey" class="form-control"
                   value="{{ autore or '' }}" required>
        </div>
    </div>

    <!-- input textarea -->
    <div class="row">
        <div class="col">
            <label class="form-label mb-2">Descrizione</label>
            <textarea name="descrizione" rows="1" class="form-control"></textarea>
        </div>
    </div>

    <!-- classic editor-->
    <!--    <div class="row">-->
    <!--        <div class="col">-->
    <!--            <label class="form-label mb-2">Ingredienti</label>-->
    <!--            <textarea name="ingredienti" rows="6" class="form-control"></textarea>-->
    <!--        </div>-->
    <!--    </div>-->


    <!-- per quill-->
    <!--    <div class="row">-->
    <!--        <div class="col">-->
    <!--            <label class="form-label mb-2">Ingredienti</label>-->
    <!--            <div id="editorIngredienti" style="height: 200px;"></div>-->
    <!--            <input type="hidden" name="ingredienti" id="hiddenIngredienti">-->
    <!--        </div>-->
    <!--    </div>-->

    <!-- per tiny -->
    <div class="row">
        <div class="col">
            <label class="form-label mb-2">Ingredienti</label>
            <textarea class="editor" name="ingredienti"></textarea>
        </div>
    </div>


    <!-- classic editor-->
    <!--    <div class="row">-->
    <!--        <div class="col">-->
    <!--            <label class="form-label mb-2">Steps</label>-->
    <!--            <textarea name="steps" rows="6" class="form-control"></textarea>-->
    <!--        </div>-->
    <!--    </div>-->


    <!--  per quill-->
    <!--    <div class="row">-->
    <!--        <div class="col">-->
    <!--            <label class="form-label mb-2">Steps</label>-->
    <!--            <div id="editorSteps" style="height: 200px;"></div>-->
    <!--            <input type="hidden" name="steps" id="hiddenSteps">-->
    <!--        </div>-->
    <!--    </div>-->


    <!-- per tiny -->
    <div class="row">
        <div class="col">
            <label class="form-label mb-2">Steps</label>
            <textarea class="editor" name="steps"></textarea>
        </div>
    </div>


    <div class="row mb-4">

        <div class="col-md-2">
            <label class="form-label mb-2">Kcal</label>
            <input type="number" name="kcal" placeholder="Inserisci calorie" min="0" step="0.1"
                   class="form-control"
                   value="{{ kcal or '' }}" required>
        </div>

        <div class="col-md-2">
            <label class="form-label mb-2">Servings</label>
            <input type="number" name="servings" placeholder="numero porzioni" min="1" class="form-control"
                   value="{{ servings or '' }}" required>
        </div>

        <div class="col-md-2">
            <label for="cousine_type" class="form-label mb-2">Tipo di cucina</label>
            <input type="text" id="cousine_type" name="cousine_type" placeholder="Es.Fusion"
                   class="form-control"
                   value="{{ cousine_type or '' }}" required>
        </div>

        <div class="col-md-3">
            <label class="form-label mb-2">Preparation time</label>
            <input type="number" name="preparation_time" placeholder="Preparazione(minuti)"
                   min="0" class="form-control"
                   value="{{ preparation_time or '' }}" required>
        </div>

        <div class="col-md-3">
            <label class="form-label mb-2">Cooking time</label>
            <input type="number" name="cooking_time" placeholder="Cottura(minuti)" min="0"
                   class="form-control" value="{{ cooking_time or '' }}" required>
        </div>

    </div>


    <div class="row mb-4">

        <div class="col-md-2">
            <label for="rating" class="form-label mb-2">Rating</label>
            <input type="number" id="rating" name="rating" min="0" class="form-control"
                   value="{{ rating or '' }}" required>
        </div>

        <div class="col-md-2">
            <label for="tags" class="form-label mb-2">Tags</label>
            <input type="text" id="tags" name="tags" placeholder="Es.#Snack, #Dolci" class="form-control"
                   value="{{ tags or '' }}" required>
        </div>

        <div class="col-md-2">
            <label for="prezzo" class="form-label mb-2">Prezzo</label>
            <input type="number" id="prezzo" name="prezzo" placeholder="Es.80" min="0" class="form-control"
                   value="{{ prezzo or '' }}" required>
        </div>

        <div class="col-md-2">
            <label for="valuta" class="form-label mb-2">Valuta</label>
            <select class="form-select form-select" id="valuta" name="valuta" required>
                <option value="€">€ EUR</option>
                <option value="$">$ USD</option>
                <option value="£">£ GBP</option>
                <option value="¥">¥ JPY</option>
            </select>
        </div>

<!--        <div class="col-md-2">-->
<!--            <label for="video" class="form-label mb-2">Video</label>-->
<!--            <input type="file" id="video" name="video" accept="video/*" class="form-control">-->
<!--        </div>-->

        <div class="col-md-2">
            <label class="form-label mb-2">Visibility</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="visibility" name="visibility"
                       value="1" {% if visibility %}checked{% endif %} checked>
                <label class="form-check-label" for="visibility">Visibile(True)</label>
            </div>
        </div>


    </div>

    <button type="submit">Carica Ricetta</button>

</form>

<!-- questo div lo puoi usare per gestire i messaggi di errore su script js -->
<div id="messaggio"></div>

{% endblock %}