{% extends "dashboard/admin_dashboard.html" %}
{% block content %}

<form id="categoria-form" action="/aggiungi_categoria" method="POST">
  <div class="row">
      <div class="col-2">                 
        <input type="text" class="form-control" placeholder="categoria" name="nome_categoria" required>                       
             
      
        {% if alert %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ alert }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}       

        {% if errore %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ errore }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <button type="submit">Crea Nuova Categoria</button>
      </div> 
  </div>
</form> 

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Anteprima</th>
        <th scope="col">Modifica</th>
        <th scope="col">id</th>
        <th scope="col">categoria</th>
        <th scope="col">nome_ricetta</th>
        <th scope="col">ingredienti</th>
        <th scope="col">total_time</th>
        <th scope="col">prezzo</th>        
      </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for ricetta in elenco_ricette %}
        <tr>
            
            <th scope="row"><a class="btn btn-primary" href="{{ url_for('dashboard_routes.read_recipe') }}" 
              role="button"><i class="bi bi-search"></i></a>                
            </th>
            <th scope="row"><a class="btn btn-primary" href="{{ url_for('dashboard_routes.update_recipe') }}" 
                role="button">Vai</a>
            </th>           
            <th scope="row">{{ ricetta['id'] }}</th>
            <td>{{ ricetta['categoria'] }}</td>
            <td>{{ ricetta['nome_ricetta'] }}</td>
            <td>{{ ricetta['ingredienti'] }}</td>
            <td>{{ ricetta['total_time'] }}</td>
            <td>{{ ricetta['prezzo'] }}</td>            
        </tr>
        {% endfor %}     
    </tbody>
  </table>
 
{% endblock %}
