{% extends "dashboard/admin_dashboard.html" %}
{% block content %}



<p>categoria: {{ ricetta.categoria }}</p>
<p>titolo: {{ ricetta.titolo }}</p>
<p>nome_ricetta: {{ ricetta.nome_ricetta }}</p>
<p>immagine: {{ ricetta.immagine }}</p>
<p>difficulty_level: {{ ricetta.difficulty_level }}</p>
<p>autore: {{ ricetta.autore }}</p>
<p>descrizione: {{ ricetta.descrizione }}</p>
<p>ingredienti: {{ ricetta.ingredienti }}</p>
<p>steps: {{ ricetta.steps }}</p>
<p>kcal: {{ ricetta.kcal }}</p>
<p>servings: {{ ricetta.servings }}</p>
<p>cousine_type: {{ ricetta.cousine_type }}</p>
<p>preparation_time: {{ ricetta.preparation_time }}</p>
<p>total_time: {{ ricetta.total_time }}</p>
<p>cooking_time: {{ ricetta.cooking_time }}</p>
<p>rating: {{ ricetta.rating }}</p>
<p>tags: {{ ricetta.tags }}</p>
<p>prezzo: {{ ricetta.prezzo }}</p>
<p>valuta: {{ ricetta.valuta }}</p>


{% endblock %}