<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dettaglio Ricetta: {{ ricetta.nome_ricetta }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dettaglio_ricetta_style.css') }}">
</head>
<body>
<div class="container-main">
    <!-- Sezione superiore -->
    <div class="container-top">
        <div class="top-section-left">
            {% if ricetta.immagine %}
            <img src="{{ url_for('static', filename=ricetta.immagine[7:]) }}" alt="Immagine Ricetta">
            {% else %}
            <p alt="Nessuna immagine disponibile">Immagine non disponibile</p>
            {% endif %}
        </div>
        <div class="top-section-right">
            <ul class="lista-dettagli-ricetta">
                <h1 style="text-align: center">{{ ricetta.nome_ricetta }}</h1>
                <li>Categoria: <strong>{{ ricetta.categoria }}</strong></li>
                <li>Nome: <strong>{{ ricetta.nome_ricetta }}</strong></li>
                <li>Autore: <strong>{{ ricetta.autore }}</strong></li>
                <li>Calorie: <strong>{{ ricetta.kcal }}</strong></li>
                <li>Cucina: <strong>{{ ricetta.cousine_type }}</strong></li>
                <li>Difficolta: <strong>{{ ricetta.difficulty_level }}</strong></li>
                <li>Preparazione: <strong>{{ ricetta.preparation_time }}</strong></li>
                <li>Tempo Cottura: <strong>{{ ricetta.cooking_time }}</strong></li>
                <li>Tempo Totale: <strong>{{ ricetta.total_time }}</strong></li>
                <li>Prezzo: <strong>{{ ricetta.prezzo }}</strong> <strong>{{ ricetta.valuta }}</strong></li>
            </ul>
        </div>
    </div>

     <div class="ingredienti">
        <p class="title-ingredienti">
            <strong>Ingredienti</strong>
        </p>
        <p class="testo-ingredienti">{{ ricetta.ingredienti }}</p>
    </div>

    <!-- Sezione ingredienti e descrizione passo passo -->
    <div class="next-section">
        <h2>Procedimento</h2>

        <div class="step">
            <h3>Step</h3>
            <p class="testo-steps">{{ ricetta.steps }}</p>
        </div>


    </div>
    <a href="{{ url_for('dashboard_routes.list_recipes') }}" class="back-home">indietro</a>
</div>
</body>

</html>
