{% extends "dashboard/admin_dashboard.html" %}
{% block content %}

    {% if success %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ success }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% elif errore %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ errore }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    {% endif %}

<form id="ricetta-form" action="/update_recipe" method="POST" enctype="multipart/form-data">   
     
        <div class="row g-3 mb-4">

            <div class="col-md-2">
                <label for="categoria" class="form-label mb-2">Categoria</label>
                <input type="text" name="categoria" class="form-control" value="{{ db_ricetta.categoria }}" required>
            </div>
            
            <div class="col-md-2">
                <label for="titolo" class="form-label mb-2">Titolo</label>
                <input type="text" name="titolo" class="form-control" value="{{ db_ricetta.titolo }}" required>                                 
            </div>
            
            <div class="col-md-2">
                <label for="nome_ricetta" class="form-label mb-2">Nome Ricetta</label>
                <input type="text" name="nome_ricetta" class="form-control" value="{{ db_ricetta.nome_ricetta }}" required>
            </div>
            
            <div class="col-md-2">
                <label for="immagine" class="form-label mb-2">Immagine</label>
                <input type="file" name="immagine" accept="image/*" class="form-control">
            </div>

            <div class="col-md-2">
                <label for="difficulty_level" class="form-label mb-2">Difficolta</label>
                <input type="text" name="difficulty_level" class="form-control" value="{{ db_ricetta.difficulty_level }}" required>                 
            </div>
              
            <div class="col-md-2">
                <label for="autore" class="form-label mb-2">Autore</label>           
                <input type="text" name="autore" class="form-control" value="{{ db_ricetta.autore }}" required>      
            </div>                
             
        </div>


    <div class="row">
        <div class="col">
            <label for="descrizione" class="form-label mb-2">Descrizione</label>        
            <textarea name="descrizione" rows="6" class="form-control"></textarea>
        </div>
    </div>  

    <div class="row">
        <div class="col">
            <label for="ingredienti" class="form-label mb-2">Ingredienti</label>       
            <textarea name="ingredienti" rows="6" class="form-control"></textarea>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <label for="steps" class="form-label mb-2">Steps</label>       
            <textarea name="steps"  rows="6" class="form-control"></textarea>            
        </div>
    </div>  

    
    <div class="row mb-4">      
    
        <div class="col-md-2">
            <label for="kcal" class="form-label mb-2">Kcal</label>        
            <input type="number" name="kcal" min="0" class="form-control" value="{{ db_ricetta.kcal }}" required>           
        </div>
    
        <div class="col-md-2">
            <label for="servings" class="form-label mb-2">Servings</label>        
            <input type="number" name="servings" min="1" class="form-control" value="{{ db_ricetta.servings }}" required>                                   
        </div> 
        
        <div class="col-md-2">
            <label for="cousine_type" class="form-label mb-2">Tipo di cucina</label>           
            <input type="text" name="cousine_type" class="form-control" value="{{ db_ricetta.cousine_type }}" required>          
        </div>          
    
        <div class="col-md-2">
            <label for="preparation_time" class="form-label mb-2">Preparation_time</label>   
            <input type="number" name="preparation_time" min="0" class="form-control" value="{{ db_ricetta.preparation_time }}" required>                     
        </div>
   
        <div class="col-md-2">
            <label for="cooking_time" class="form-label mb-2">Cooking_time</label> 
            <input type="number" name="cooking_time" min="0" class="form-control" value="{{ db_ricetta.cooking_time }}" required>                  
        </div>

    </div>



    <div class="row mb-4">   
    
        <div class="col-auto">
            <label for="rating" class="form-label mb-2">Rating</label>
            <input type="number" name="rating" min="0" class="form-control" value="{{ db_ricetta.rating }}" required>              
        </div>
    
        <div class="col-auto">
            <label for="tags" class="form-label mb-2">Tags</label>        
            <input type="text" name="tags" class="form-control" value="{{ db_ricetta.tags }}" required>           
        </div>    

        <div class="col-auto">
            <label for="prezzo" class="form-label mb-2">Prezzo</label>
            <input type="number" name="prezzo" min="0" class="form-control" value="{{ db_ricetta.prezzo }}" required>              
        </div>

        <div class="col-auto">            
                <label for="valuta" class="form-label mb-2">Valuta</label>                
                <select class="form-select form-select" name="valuta" value="{{ db_ricetta.valuta }}" required>
                    <option value="€">€ EUR</option>
                    <option value="$">$ USD</option>
                    <option value="£">£ GBP</option>
                    <option value="¥">¥ JPY</option>
                </select>                            
        </div>      
    </div>

    <button type="submit">Modifica</button>   

    
        
</form>

<!-- questo div lo puoi usare per gestire i messaggi di errore su script js -->
<div id="messaggio"></div>

{% endblock %}